@import "../scss/bootstrap/bootstrap.scss";
@import "../scss/_variables.scss";
@import "../scss/_extend.scss";
@import "../scss/_mixin.scss";
@import "../scss/_maps.scss";
@import "../scss/_reseteo.scss";
@import "../scss/_estructura.scss";
@import "../scss/_animaciones.scss";